# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/node_modules
front/.pnp
front/.pnp.js

# testing
front/coverage

# production
front/build

# misc
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

front/.idea

back*/*target
back*/.idea
back*/*iml
back*/*src/main/webapp/static
back*/*.json
back*/*.ico
back*/*index.html
back*/*.png
back*/*robots.txt
back*/src/main/resources/hibernate.properties
.DS_Store
ejb_back/.idea
.idea
service1/back/target service1/ejb_back/target service2/back2/target
